html,
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: lightgray;
    height: 100%;
}

body.dark {
    background: black;
    color: white;
}

body.dark button {
    background-color: darkslategray;
    color: white;
}

body.dark input {
    background-color: darkslategray;
    color: white;
}

body.dark input::placeholder {
    color: lightgray;
}

body.dark select {
    background: darkslategray;
    color: white;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.row.header {
    flex: 0 1 auto;

    display: flex;
    flex-flow: row;

    padding: 5px;
}

.row.content {
    flex: 1 1 auto;
}

.row.footer {
    flex: 0 1 10px;
}

.chatrow {
    display: flex;
    flex-flow: row;
}

.chat {
    flex: 1 1 auto;
}

.chat.header {
    padding: 5px 0px 5px 10px;
}

.chatframe {
    border: none;
    width: 100%;
    height: 100%;
}