html,
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: lightgray;
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.row {
    border: 1px dotted grey;
}

.row.header {
    border: none;
    flex: 0 1 auto;

    display: flex;
    flex-flow: row;

    padding: 5px;
}

.row.content {
    border: none;
    flex: 1 1 auto;
}

.row.footer {
    border: none;
    flex: 0 1 10px;
}

.chatrow {
    display: flex;
    flex-flow: row;
}

.chat.header {
    padding: 5px 0px 5px 10px;
}

.chatframe {
    border: none;
    width: 100%;
    height: 100%;
}